#main {
  background-color: #eee;
  color: #333;
  margin: 30px auto;
  padding: 15px;
  border-radius: 5px;
  font-family: "Trebuchet MS", Helvetica;
  text-align: center;
}

#title {
  margin: 20px auto;
}

#img-div {
  background-color: white;
  margin: 40px auto;
  border: 5px solid white;
  width: 100%;
  box-sizing: border-box;
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

ul {
  text-align: left;
  max-width: 35em;
  margin: auto;
}

li {
  margin: 10px auto;
}

blockquote {
  font-style: italic;
}

.year {
  font-weight: bold;
}
